h1 {
    text-align: center;
    text-transform: uppercase;
}
body {
    background-image: url(img/home-bg.jpg);
    font-style: oblique;
    }
.form {
width: 300px;
background: whitesmoke;
opacity: inherit;
margin: 80px auto;
padding: 30px 20px;
    }